.scrollable {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.scrollable:hover {
    cursor: pointer;
}

.fit {
    width: 100%;
}

.lowpad {
    padding-left: 1px;
    padding-right: 2px;
}

.spinner {
    height: 30px;
    width: 30px;
}

#map > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div > div > div > div {
    height: 20px;
    border: 1px solid #eb3a44;
    border-radius: 5px;
    background: #fee1d7;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #eb3a44;
    z-index: 1000 !important;
}
